<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".kone.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialMediaApp"
        tools:targetApi="31">
        <activity
            android:name=".GroupInfoActivity"
            android:exported="false" />
        <activity
            android:name=".vu.GroupParticipantAddActivity"
            android:exported="false" />
        <activity
            android:name=".vu.GroupChatActivity"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".hung.GroupCreateActivity"
            android:exported="false" />
        <activity
            android:name=".PostLikedByActivity"
            android:exported="false" />
        <activity
            android:name=".hung.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".hung.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".vu.ThereProfileActivity"
            android:exported="false" />
        <!--
Intent filters inform system what intents an application compoment is willing to accept.
        to receive text/image type of intents we will add intent filter to activity, that will handle that data
        -->
        <activity
            android:name=".hung.AddPostActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>

                <!-- For Text -->
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hung.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".kone.ChatActivity"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".hung.DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hung.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- <service -->
        <!-- android:name=".vu.notifications.FirebaseService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_SERVICE" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <service
            android:name=".vu.notifications.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- define file provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.unity.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>